<div class="panel panel-default">
  <div class="panel-body">

    <form id="document-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Book Title:</label>
          <input type="text" id="name" class="form-control" size="120" max="120" name="name" [ngModel]="book?.title"
            #title="ngModel" required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Author:</label>
          <input type="text" id="author" class="form-control" size="120" max="120" name="author"
            [ngModel]="book?.author" #author="ngModel" required>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Description:</label>
          <input type="text" id="description" class="form-control" size="120" max="255" name="description"
            [ngModel]="book?.description" #description="ngModel">
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="url">URL:</label>
          <input type="text" id="url" class="form-control" size="150" max="255" name="url" [ngModel]="book?.url"
            #url="ngModel" required>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-danger" *ngIf="(url.invalid && url.touched) || (title.invalid && title.touched)">
          The Title and book URL are required fields
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="f.invalid">
            Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel</button>
        </div>
      </div>

    </form>

  </div>
</div>
